{{#each items}}
<div class='item cf' id="{{_id}}">
    <div class="left">{{description}}</div>
    <button class="button tiny radius alert right" id="open-modal-item-owned-delete"><i class="fi-trash"></i> Delete</button>
</div>
{{/each}}
